<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="FlaskBB is a forum software written in Flask">
        <meta name="author" content="FlaskBB Team">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <!--
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        -->
        <title>
        {% block title %}
            {%- if not page_title -%}
                {{ flaskbb_config["PROJECT_TITLE"] }} - {{ flaskbb_config["PROJECT_SUBTITLE"] }}
            {%- else -%}
                {{ page_title }} - {{ flaskbb_config["PROJECT_TITLE"] }}
            {%- endif -%}
        {% endblock %}
        </title>

        <link rel="stylesheet" href="{{ url_for('alfamas.static', filename='css/templatemo_misc.css') }}">
        <link rel="stylesheet" href="{{ url_for('alfamas.static', filename='css/templatemo_style.css') }}">
        
        {% block stylesheets %}
        <!-- syntax highlighting -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
        <!-- bootstrap & aurora theme -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {% endblock %}

        <link rel="stylesheet" href="{{ url_for('alfamas.static', filename='css/custom.css') }}">

        {# for extra stylesheets. e.q. a template has to add something #}
        {% block css %}
        {% endblock %}

        {# for various extra things #}
        {% block head_extra %}
        {% endblock %}

        <style type="text/css">
            .welcome {
                padding-left: 50px;
                float: left;
                font-family: arial;
                color: grey;
                font-size: 19px;
            }
            .flaskbb-layout span.fa {
                width: auto;
            }
            .templatemo_gallerygap {
                margin-bottom: 0px;
            }
        </style>

    </head>

    <body>
        <div class="site-header">

            <div class="main-navigation">
                <div class="responsive_menu">
                    <ul>
                        <li><a class="menu-item show-1 templatemo_home" href="{{residentes_url}}/#home">Comercio</a></li>
                        <li><a class="menu-item show-2 templatemo_page2" href="{{residentes_url}}/#data">Datos</a></li>
                        <li><a class="menu-item show-3 templatemo_page3" href="{{residentes_url}}/#forum">Foro</a></li>
                        <li><a class="menu-item show-5 templatemo_page5" href="{{residentes_url}}/#profile">Perfil</a></li>
                        <li><a href="/alfamas/logout">Salir</a></li>
                    </ul>
                </div>
                <div class="container">
                    <div class="row templatemo_gallerygap">
                        <div class="col-md-12 responsive-menu">
                            <a href="#" class="menu-toggle-btn">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="{{residentes_url}}" rel="nofollow"><img src="{{ url_for('alfamas.static', filename='images/templatemo_logoAM2.png') }}" alt="Polygon Template"></a>
                        </div>
                        <div class="col-md-9 main_menu">
                            <h2 class="welcome"> Bienvenid@ <br> {{current_user.notes | safe}}</h2>
                            <ul>
                                <li>
                                    <a class="menu-item show-1 templatemo_home" href="{{residentes_url}}/#home">
                                        <span class="fa fa-barcode"></span>Comercio
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item show-2 templatemo_page2" href="{{residentes_url}}/#data">
                                        <span class="fa fa-cloud"></span>Datos</a></li>
                                <li>
                                    <a class="menu-item show-3 templatemo_page3 active" href="{{residentes_url}}/#forum">
                                        <span class="fa fa-pencil"></span>Foro
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item show-5 templatemo_page5" href="{{residentes_url}}/#profile">
                                        <span class="fa fa-user"></span>Perfil
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/alfamas/logout">
                                        <span class="fa fa-times-circle"></span>Salir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- main forum layout -->
        <div class="flaskbb-layout">

            <div class="container">
                
                <!-- Place for all the (flashed) messages -->
                {% block messages %}
                <div id="flashed-messages">
                    {% include theme('flashed_messages.html') %}
                </div>
                {% endblock %}

                <!-- the actual content block -->
                {% block content %}
                {% endblock %}
            </div> <!-- end container -->

            

        </div> <!-- end flaskbb-layout -->

        {% block javascript %}
        <!-- jquery and bootstrap and flaskbb.js -->
        <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
        {% endblock %}

        {# for extra scripts in other templates. #}
        {% block scripts %}
        {% endblock %}
    </body>

    <script src="{{ url_for('alfamas.static', filename='js/templatemo_custom.js') }}" type="text/javascript"></script>
</html>
