{% set page_title = _("New Post") %}
{% set active_forum_nav=True %}

{% extends theme("m_layout.html") %}

{% block content %}
{% from theme("macros.html") import render_quickreply, render_submit_field %}

<div class="page-view">

    <form class="form-horizontal" role="form" method="post">
        {{ form.hidden_tag() }}
        <div class="panel page-panel">
            <div class="panel-heading page-head">
                {% trans %}New Post{% endtrans %}
            </div>

            <div class="panel-body page-body">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="editor-box">
                                <div class="editor">
                                    {{ render_quickreply(form.content, div_class="new-message", rows=7, cols=75, placeholder="", **{'data-provide': 'markdown', 'data-autofocus': 'false', 'class': 'flaskbb-editor'}) }}
                                </div>
                                <div class="editor-submit">
                                    {{ render_submit_field(form.submit, input_class="btn btn-success pull-right") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include theme('editor_help.html') %}
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.min.js') }}"></script>
{% endblock %}
